################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/KartingSystemSimulation/config
/.vs/KartingSystemSimulation/FileContentIndex
/KartingSystemSimulation/bin/Debug/net8.0/KartingSystemSimulation.dll
/KartingSystemSimulation/bin/Debug/net8.0/KartingSystemSimulation.exe
/KartingSystemSimulation/bin/Debug/net8.0/KartingSystemSimulation.pdb
*.dll
/KartingSystemSimulation/obj/Release/net8.0
*.exe
/KartingSystemSimulation/obj/Debug/net8.0/KartingSystemSimulation.AssemblyInfo.cs
/KartingSystemSimulation/obj/Debug/net8.0/KartingSystemSimulation.AssemblyInfoInputs.cache
/KartingSystemSimulation/obj/Debug/net8.0/KartingSystemSimulation.assets.cache
/KartingSystemSimulation/obj/Debug/net8.0/KartingSystemSimulation.csproj.AssemblyReference.cache
/KartingSystemSimulation/obj/Debug/net8.0/KartingSystemSimulation.csproj.CoreCompileInputs.cache
/KartingSystemSimulation/obj/Debug/net8.0/KartingSystemSimulation.csproj.FileListAbsolute.txt
/KartingSystemSimulation/obj/Debug/net8.0/KartingSystemSimulation.GeneratedMSBuildEditorConfig.editorconfig
/KartingSystemSimulation/obj/Debug/net8.0/KartingSystemSimulation.genruntimeconfig.cache
/KartingSystemSimulation/obj/Debug/net8.0/KartingSystemSimulation.pdb
/KartingSystemSimulation/obj/Debug/net8.0/KartingSystemSimulation.sourcelink.json
/KartingSystemSimulation/obj/KartingSystemSimulation.csproj.nuget.dgspec.json
/KartingSystemSimulation/obj/KartingSystemSimulation.csproj.nuget.g.props
/KartingSystemSimulation/obj/project.assets.json
/KartingSystemSimulation/obj/project.nuget.cache
/.vs/ProjectEvaluation/kartingsystemsimulation.metadata.v8.bin
/.vs/ProjectEvaluation/kartingsystemsimulation.metadata.v9.bin
/.vs/ProjectEvaluation/kartingsystemsimulation.projects.v8.bin
/.vs/ProjectEvaluation/kartingsystemsimulation.projects.v9.bin
/.vs/ProjectEvaluation/kartingsystemsimulation.strings.v8.bin
/.vs/ProjectEvaluation/kartingsystemsimulation.strings.v9.bin
/.vs/KartingSystemSimulation/v17/.futdcache.v2
/.vs/KartingSystemSimulation/v17/.suo
/.vs/KartingSystemSimulation/v17/DocumentLayout.json
/.vs/ProjectSettings.json
/.vs/ProjectEvaluation/kartingsystemsimulation.metadata.v9.bin
/.gitignore
*.sqlite
/.vs/KartingSystemSimulation/DesignTimeBuild/.dtbcache.v2
/.vs/VSWorkspaceState.json
/.vs/KartingSystemProject/FileContentIndex/1b953c58-2152-42dd-9a5c-bc5d519f1b92.vsidx
/.vs/KartingSystemProject/FileContentIndex/afac519a-857a-4126-a208-12b43adf378c.vsidx
/.vs/KartingSystemProject/v17/.wsuo
/.vs/KartingSystemProject/v17/DocumentLayout.json
/KartingSystemSimulation/Migrations/20241231054922_strup.cs
/.vs/ProjectEvaluation/kartingsystemsimulation.metadata.v9.bin
/.vs/ProjectEvaluation/kartingsystemsimulation.projects.v9.bin
/.vs/ProjectEvaluation/kartingsystemsimulation.strings.v9.bin
/.vs/KartingSystemSimulation/v17/.suo
