################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/KartingSystemSimulation/config
/.vs/KartingSystemSimulation/FileContentIndex
/KartingSystemSimulation/bin/Debug/net8.0/KartingSystemSimulation.dll
/KartingSystemSimulation/bin/Debug/net8.0/KartingSystemSimulation.exe
/KartingSystemSimulation/bin/Debug/net8.0/KartingSystemSimulation.pdb
*.dll
/.vs/KartingSystemSimulation/v17/.wsuo
/.vs/KartingSystemSimulation/v17/DocumentLayout.json
/KartingSystemSimulation/obj/Debug/net8.0/KartingSystemSimulation.AssemblyInfo.cs
/KartingSystemSimulation/obj/Debug/net8.0/KartingSystemSimulation.AssemblyInfoInputs.cache
/KartingSystemSimulation/obj/Debug/net8.0/KartingSystemSimulation.assets.cache
/KartingSystemSimulation/obj/Debug/net8.0/KartingSystemSimulation.csproj.AssemblyReference.cache
/KartingSystemSimulation/obj/Debug/net8.0/KartingSystemSimulation.GeneratedMSBuildEditorConfig.editorconfig
/KartingSystemSimulation/obj/KartingSystemSimulation.csproj.nuget.dgspec.json
/KartingSystemSimulation/obj/KartingSystemSimulation.csproj.nuget.g.props
/KartingSystemSimulation/obj/project.assets.json
/KartingSystemSimulation/obj/project.nuget.cache
/.vs/ProjectEvaluation/kartingsystemsimulation.projects.v9.bin
/.vs/ProjectEvaluation/kartingsystemsimulation.strings.v9.bin
/.vs/ProjectEvaluation/kartingsystemsimulation.metadata.v9.bin
/.vs/KartingSystemSimulation/v17/.suo
